@model VPS.Models.DTOs.DriverDto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="container">

    <div class="row">
        <header>
            Add New Driver
        </header>
        <div class="well no-padding">
            @*@using (Ajax.BeginForm("Create", "Drivers", new System.Web.Mvc.Ajax.AjaxOptions { OnFailure = "Failure", OnSuccess = "OnSuccess" }, new { id="myForm", name="myForm", enctype = "multipart/form-data", @class ="smart-form client-form"}))
                {*@
            <form action="@Url.Action("Create", "Drivers")" method="POST" id="myForm" name="myForm" class="smart-form client-form" enctype="multipart/form-data">

                <fieldset>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-xs-12">
                        <div>
                            <img id="profileImage" name="profileImage" src="/Images/Drivers/noImage.JPG" class="img-thumbnail" alt="" width="15%" height="15%" />
                            <input id="imageUpload" title="Upload a issue image" type="file" name="file" />
                        </div>

                        <section>
                            @Html.LabelFor(model => model.GivenName, htmlAttributes: new { @class = "label" })
                            <label class="input">
                                <input type="text" name="GivenName" value="" required="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Given Name</b>
                            </label>
                        </section>
                        <section>
                            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "label" })
                            <label class="input">
                                <input type="text" name="MiddleName" value="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Middle Name</b>
                            </label>
                        </section>
                        <section>
                            @Html.LabelFor(model => model.SurName, htmlAttributes: new { @class = "label" })
                            <label class="input">
                                <input type="text" name="SurName" value="" required="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Sur Name</b>
                            </label>
                        </section>
                        <section>
                            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "label" })
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="date" name="DateOfBirth" id="DateOfBirth" required>
                            </label>
                        </section>
                        <section>
                            @Html.LabelFor(model => model.LicenceNo, htmlAttributes: new { @class = "label" })
                            <label class="input">
                                <input type="text" name="LicenceNo" value="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-id-card-o txt-color-teal"></i> Please enter Licence No</b>
                            </label>
                        </section>
                        <section>
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "label" })
                            <label class="input">
                                <input type="text" name="Address" value="" required="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Address</b>
                            </label>
                        </section>
                        <section>
                            @Html.LabelFor(model => model.Suburb, htmlAttributes: new { @class = "label" })
                            <label class="input">
                                <input type="text" name="Suburb" value="" required="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Suburb</b>
                            </label>
                        </section>
                        <section>
                            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "label" })
                            <label class="input">
                                <input type="text" name="State" value="" required="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter State</b>
                            </label>
                        </section>
                        <section>
                            @Html.LabelFor(model => model.Postcode, htmlAttributes: new { @class = "label" })
                            <label class="input">
                                <input type="text" name="Postcode" value="" required="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Postcode</b>
                            </label>
                        </section>
                        <section>
                            @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "label" })
                            <label class="input">
                                <input type="text" name="MobileNo" value="" required="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Contact Number</b>
                            </label>
                        </section>
                        <section>
                            @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "label" })
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="text" name="EmailAddress">
                            </label>
                        </section>
                        <section>
                            @Html.LabelFor(model => model.UberID, htmlAttributes: new { @class = "label" })
                            <label class="input">
                                <input type="text" name="UberID" value="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Uber ID</b>
                            </label>
                        </section>
                        <section>
                            @Html.LabelFor(model => model.UberIDPassword, htmlAttributes: new { @class = "label" })
                            <label class="input">
                                <input type="text" name="UberIDPassword" value="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Uber ID password</b>
                            </label>
                        </section>
                        <section>
                            @Html.LabelFor(model => model.EmergencyContactName, htmlAttributes: new { @class = "label" })
                            <label class="input">
                                <input type="text" name="EmergencyContactName" value="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Emergency Contact Name</b>
                            </label>
                        </section>
                        @*<section>
                                @Html.LabelFor(model => model.EmergencyContactRelation, htmlAttributes: new { @class = "label" })
                                <label class="input">
                                    <input type="text" name="EmergencyContactRelation" value="">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Emergency Contact Relation</b>
                                </label>
                            </section>
                            <section>
                                @Html.LabelFor(model => model.EmergencyContactMobileNo, htmlAttributes: new { @class = "label" })
                                <label class="input">
                                    <input type="text" name="EmergencyContactMobileNo" value="">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Emergency Contact Number</b>
                                </label>
                            </section>
                            <section>
                                @Html.LabelFor(model => model.EmergencyContactAddress, htmlAttributes: new { @class = "label" })
                                <label class="input">
                                    <input type="text" name="EmergencyContactAddress" value="">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Emergency Contact Address</b>
                                </label>
                            </section>*@

                        <footer>
                            <button type="submit" class="btn btn-primary">
                                Add
                            </button>

                        </footer>
                    </div>
                </fieldset>
                @*}*@
            </form>

            <i>
                @Html.ActionLink(" Back to List", "Index", null, new { @class = "fa fa-backward" })
            </i>

        </div>

    </div>
</div>

@section pagespecific{
    <script type="text/javascript">
        $("#profileImage").click(function (e) {
            $("#imageUpload").click();
        });

        function fasterPreview(uploader) {
            if (uploader.files && uploader.files[0]) {
                $('#profileImage').attr('src',
                   window.URL.createObjectURL(uploader.files[0]));
            }
        }

        $("#imageUpload").change(function () {
            fasterPreview(this);
        });
    </script>

    <style>
        #imageUpload {
            display: none;
        }

        #profileImage {
            cursor: pointer;
        }

        #profile-container {
            width: 150px;
            height: 150px;
            overflow: hidden;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
        }

            #profile-container img {
                width: 150px;
                height: 150px;
            }
    </style>
}