@model VPS.Models.DTOs.DriverDto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Drivers Details</h2>

<div id="content">
    <div class="row">
        <div class="col-xs-12 text-left margin-left-12 margin-bottom-5">
            @Html.ActionLink(" Edit", "Edit", new { id = Model.DriverID }, new { @class = "txt-color-white btn btn-primary btn-lg fa fa-edit" })
            @Html.ActionLink(" Back to List", "Index", null, new { @class = "txt-color-white btn btn-danger btn-lg fa fa-backward" })
        </div>
    </div>

    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="margin-bottom-5">
                    @if (@Model.AvatarPath != null)
                    {
                    <img src=@Model.AvatarPath class="img-thumbnail" alt="@Model.SurName" width="15%" height="15%">
                    }
                    else
                    {
                    <img src="/Images/Drivers/noImage.JPG" alt="" width="15%" height="15%">
                    }
                </div>
                <table class="table table-striped" style="width:100%;">
                    <tbody>
                        <tr>
                            <td class="txt-color-blue col-md-3">
                                @Html.DisplayNameFor(model => model.GivenName)
                            </td>
                            <td class="col-md-9">
                                @Html.DisplayFor(model => model.GivenName)
                            </td>
                        </tr>
                        <tr>
                            <td class="txt-color-blue">
                                @Html.DisplayNameFor(model => model.MiddleName)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.MiddleName)
                            </td>
                        </tr>
                        <tr>
                            <td class="txt-color-blue">
                                @Html.DisplayNameFor(model => model.SurName)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.SurName)
                            </td>
                        </tr>
                        <tr>
                            <td class="txt-color-blue">
                                @Html.DisplayNameFor(model => model.DateOfBirth)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.DOB)
                            </td>
                        </tr>
                        <tr>
                            <td class="txt-color-blue">
                                @Html.DisplayNameFor(model => model.LicenceNo)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.LicenceNo)
                            </td>
                        </tr>
                        <tr>
                            <td class="txt-color-blue">
                                @Html.DisplayNameFor(model => model.Address)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Address)
                            </td>
                        </tr>
                        <tr>
                            <td class="txt-color-blue">
                                @Html.DisplayNameFor(model => model.Suburb)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Suburb)
                            </td>
                        </tr>
                        <tr>
                            <td class="txt-color-blue">
                                @Html.DisplayNameFor(model => model.State)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.State)
                            </td>
                        </tr>
                        <tr>
                            <td class="txt-color-blue">
                                @Html.DisplayNameFor(model => model.Postcode)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.Postcode)
                            </td>
                        </tr>
                        <tr>
                            <td class="txt-color-blue">
                                @Html.DisplayNameFor(model => model.EmailAddress)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.EmailAddress)
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="txt-color-blue">
                                @Html.DisplayNameFor(model => model.MobileNo)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.MobileNo)
                            </td>
                        </tr>
                        <tr>
                            <td class="txt-color-blue">
                                @Html.DisplayNameFor(model => model.EmergencyContactName)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.EmergencyContactName)
                            </td>
                        </tr>
                        @*<tr>
                            <td class="txt-color-blue">
                                @Html.DisplayNameFor(model => model.EmergencyContactRelation)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.EmergencyContactRelation)
                            </td>
                        </tr>
                        <tr>
                            <td class="txt-color-blue">
                                @Html.DisplayNameFor(model => model.EmergencyContactMobileNo)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.EmergencyContactMobileNo)
                            </td>
                        </tr>*@
                        <tr>
                            <td class="txt-color-blue">
                                @Html.DisplayNameFor(model => model.UberID)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.UberID)
                            </td>
                        </tr>
                        <tr>
                            <td class="txt-color-blue">
                                @Html.DisplayNameFor(model => model.UberIDPassword)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.UberIDPassword)
                            </td>
                        </tr>
                        <tr>
                            <td class="txt-color-blue">
                                @Html.DisplayNameFor(model => model.IsActive)
                            </td>

                            <td>
                                @if (Model.IsActive)
                                {
                                <span>Yes - Active Driver</span>
                                }
                                else
                                {
                                <span>No - Inactive Driver</span>
                                }
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
